

<section class="my-5">
    <h2 class="h2">Témoignages</h2>
    <span class="green-line-titre" style="margin-bottom:25px;"></span>
    <div class="row g-4 mt-4">
    <div class="col-lg-6">
        <div class="card h-100" style="border: solid 3px green;">
        <div class="card-body">
            <p class="card-text text-bold">
            "Cedrick est une personne fantastique avec qui travailler. C'est un développeur Laravel expérimenté et talentueux, travailleur acharné, alliant productivité et ambition. <span style="background-color: rgb(157, 248, 157);"> Il possède une
            compréhension approfondie des technologies informatiques modernes et de très fortes compétences en résolution de problèmes.</span> Cedrick est toujours positif et serviable, et il n'hésite jamais à
            apporter son soutien en cas de besoin. Travailler avec Cedrick est une chance pour chacun."
            </p>
            <span class="green-line"></span>
            <p class="mt-4 font-weight-bold">Anass Gouzgar</p>
            <p style="color:rgb(6, 90, 6);font-weight:bold;font-size:small">Développeur frontal</p>
        </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card h-80" style="border: solid 2px green;">
        <div class="card-body">
            <p class="card-text text-bold">
            "Je sais Cedrick NANA chez INTICSOLUTION Il était sous ma responsabilité,<span style="background-color: rgb(174, 253, 174);"> c'est un Développeur Full-Stack, Expert en PHP/Laravel, en plus de cela, c'est un excellent résolveur de problèmes et
            analyste.</span> Je le recommande fortement."
            </p>
            <span class="green-line"></span>
            <p class="mt-4 font-weight-bold"  style="font-size: medium;">Azziz Adel</p>
            <p style="color:rgb(10, 78, 10);font-weight:bold;font-size:small">Gérant et Fondateur chez INTICSOLUTIONS.</p>
        </div>
        </div>
    </div>
    <!-- Add more testimonials here following the same structure -->
    </div>
</section>